@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&family=Roboto:wght@100..900&display=swap");

@theme {--font-roboto: "Roboto", sans-serif; --font-montserrat: "Montserrat", sans-serif;}

@import "tailwindcss";